[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = povide some solutions for coding problems from https://leetcode-cn.com/problems
[access "refs/*"]
	owner = group user/ChaoLee (FengZhouLuYaoNEU)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ChaoLee (FengZhouLuYaoNEU)
	label-Verified = -1..+1 group user/ChaoLee (FengZhouLuYaoNEU)
	push = group user/ChaoLee (FengZhouLuYaoNEU)
	read = group user/ChaoLee (FengZhouLuYaoNEU)
	rebase = group user/ChaoLee (FengZhouLuYaoNEU)
	removeReviewer = group user/ChaoLee (FengZhouLuYaoNEU)
	submit = group user/ChaoLee (FengZhouLuYaoNEU)
[access "refs/heads/*"]
	create = group user/ChaoLee (FengZhouLuYaoNEU)
	push = +force group user/ChaoLee (FengZhouLuYaoNEU)
	pushMerge = group user/ChaoLee (FengZhouLuYaoNEU)
	read = group user/ChaoLee (FengZhouLuYaoNEU)
[access "refs/tags/*"]
	push = group user/ChaoLee (FengZhouLuYaoNEU)
	push = +force group user/ChaoLee (FengZhouLuYaoNEU)
